<!DOCTYPE html>
<html>
    <head>
        <title>Jay's Personal Website</title>
        <style type="text/css">
body {
    background-color: #2b3e4d;
    font-family: Arial;
    color: white;
    font-size: large
}
a {
    text-decoration: none;
    color: white;
}
table, th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

table {
    padding: 0;
}
button {
    font-size: 20px;
    background: none;
    border: 1px solid yellow;
    color: yellow;
}

        </style>
    </head>
<body>

    <a href='/upload'><button>Upload</button></a>

    <h1 style="font-family: Times New Roman;">Jay's Personal Website</h1>
    <h2>Files</h2>

    <table>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Rename</th>
            <th>Delete</th>
        </tr>
        
        {% for file in files %}
        <tr>
            <td><a href='static/{{file[0]}}'>{{ file[0] }}</a></td>
            <td>{{ file[1] }} MB</td>
            <td>rename</td>
            <td><a href="delete/{{file[0]}}">delete</a></td>

        </tr>
        {% endfor %}
    </table>

    

</body>
</html>
