<!DOCTYPE html>
<html>
    <head>
        <title>Jay's Personal Website</title>
        <style type="text/css">
body {
    background-color: #6B6B6B;
    font-family: Arial;
    color: white;
    font-size: 14px
}
a {
    text-decoration: none;
    color: white;
}
table, th, td {
    border: 1px solid black;
}

        </style>
    </head>
<body>

    <a href='/upload'><button>Upload</button></a>

    <h1>Files</h1>

    <table>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        
        {% for file in files %}
        <tr>
            <td>{{ file[0] }}</td>
            <td>{{ file[1] }} MB</td>
            <td><a href='{{uploadDir}}/{{file[0]}}'>view</a></td>
            <td></td>

        </tr>
        {% endfor %}
    </table>

    

</body>
</html>
