
<!DOCTYPE html>
<html>
    <head>
        <title>Jay's Personal Website</title>
    </head>
<style type="text/css">
body {
    background-color: #2b3e4d;
    font-family: Arial;
    color: white;
    font-size: large
}
button {
    font-size: 20px;
    background: none;
    border: 1px solid yellow;
    color: yellow;
}
</style>
<body>

    <a href='/'><button>Home</button></a>

    <h1 style="font-family: Times New Roman;">Jay's Personal Website</h1>

    <h2>Upload new File</h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
</body>
</html>
